In [ ]:
# INTRODCUTION TO PANDAS LIBRARY DATA SCIENCE (DATA ANALYSIS)

In [7]:
#To load the pandas package and start working with it, import the library. The communnity agreed alias for pandas
#is pd, so loading pandas as pd is assumed standard practice for #all of the pandas documentation. (Source: pandas.pydata.org)

In [5]:
#importing the pandas library
import pandas as pd

In [9]:
#Creating a dictionary storing information about the people involved in the Titanic wrack

In [12]:
dict = {
    "Name": ["Braund, Mr. Owen Harris",
              "Allan, Mr. Williams Henry",
              "Bonnel, Ms. Elizabeth"],
    "Age": [22, 25, 58],
    "Sex": ["male", "male", "female"]
}

In [13]:
dict

{'Name': ['Braund, Mr. Owen Harris',
  'Allan, Mr. Williams Henry',
  'Bonnel, Ms. Elizabeth'],
 'Age': [22, 25, 58],
 'Sex': ['male', 'male', 'female']}

In [14]:
#To manually store data in a table, creat a DataFrame. When using a Python dictionary of list,
#the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame.(Source: pandas.pydata.org)

#Converting the dictionary into a pandas dataframe
df = pd.DataFrame(dict)

In [15]:
#A DataFrame is a 2-dimensional data structure that can store data of different types (including: characters, integers,
# floating point values, categorical data and more) in columns. It is similar to a spreadsheet, SQL database tabel or the data.frame in R. (Source: pandas.pydata.org)

#Displaying the dataframe
df

                        Name  Age     Sex
0    Braund, Mr. Owen Harris   22    male
1  Allan, Mr. Williams Henry   25    male
2      Bonnel, Ms. Elizabeth   58  female

In [16]:
#Displaying the age column
df["Age"]

0    22
1    25
2    58
Name: Age, dtype: int64

In [17]:
#Displaying the name column
df["Name"]

0      Braund, Mr. Owen Harris
1    Allan, Mr. Williams Henry
2        Bonnel, Ms. Elizabeth
Name: Name, dtype: object

In [18]:
#Displaying the gender column
df["Sex"]

0      male
1      male
2    female
Name: Sex, dtype: object

In [19]:
#Creating a series in pandas( A SERIES IN A DATAFRAME CONTAINS THE VALUES IN THE COLUMNS )
ages = pd.Series([22, 35, 58], name = "Age")

In [20]:
#A pandas Series has no column labels. It only contains row labels. 

#displaying the pandas Series created
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
# Doing Something with the DataFrame Or Series

In [21]:
#finding the maximum age in the
df["Age"].max()

58

In [23]:
#finding the maximum age in the Series
ages.max()

58

In [24]:
#finding the statistical information about the DataFrame
df.describe()

             Age
count   3.000000
mean   35.000000
std    19.974984
min    22.000000
25%    23.500000
50%    25.000000
75%    41.500000
max    58.000000